#vl-site-navigation {
	margin-bottom: 30px !important;
}

.vl-footer-block{
	width: 30% !important;
}

.custom-logo-link img {
	max-width: 70% !important;
}

ins {
	background-color: transparent !important;
}